* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 --index: calc(1vw + 1vh);
 --text: white;
 --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
 --trail-color: #aa9c21;
}

@font-face {
  font-family: raleway_f;
  src: url('../fonts/raleway-regular.woff2');
}
@font-face {
  font-family: raleway_f;
  src: url('../fonts/raleway-black.woff2');
  font-weight: 900;
}

body {
  background-color: #010101;
  color: white;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
  cursor: none;
}
.custom-cursor {
  position: absolute;
  pointer-events: none; 
  z-index: 9999;
  transform: translate(-50%, -50%); 

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.custom-cursor__inner {
  fill: var(--trail-color);
  width: 32px; 
  height: 32px; 
}

.header {
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  bottom: calc(var(--index) * -4.5);
  left: 0;
  background-image: url('../img/ground.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: var(--transition);
}
.layers_base {
  z-index: 0;
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}
.layers_middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers_front {
  transform: translate3d(0, calc(var(--scrollTop) / 5.75), 0);
}
.layers__header {
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transition: var(--transition);
  will-change: transform;
  margin-bottom: 20px;
  color: #d7d7a6;
  text-shadow: 0px 0px 15px #8c8c5e;
}
.title {
  font-size: calc(var(--index) * 0.8);
  letter-spacing: calc(var(--index) * 0.2);
  font-weight: 700;
}
.subtitle {
  font-size: calc(var(--index) * 2);
  letter-spacing: calc(var(--index) * 0.5);
  font-weight: 900;
}

.main-article {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text);
}
.main-article__content {
  transform: translate3d(0, calc(var(--scrollTop) / -7), 0);
  transition: var(--transition);
}

.main-article__title {
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) * 0.2);
  text-transform: uppercase;
}
.main-article__text {
  font-size: calc(var(--index) * 1);
  letter-spacing: calc(var(--index) * 0.2);
  max-width: calc(var(--index) * 40);
  font-weight: 500;
}
.copy {
  position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}
.content {
  will-change: transform;
}

.trails {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; 
  z-index: 9999;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.trail {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--trail-color);
  border-radius: 50%;
  pointer-events: none;
}
